# SublimeText User Settings
sublime-text3/User/Package Control.last-run
sublime-text3/User/Package Control.ca-list
sublime-text3/User/Package Control.ca-bundle
sublime-text3/User/Package Control.system-ca-bundle
sublime-text3/User/Package Control.cache/
sublime-text3/User/Package Control.ca-certs/
